<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Library Database</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Library Database</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Reviews</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td><a th:href="${'book/review/' + book.id}">View</a></td>
        </tr>
        </tbody>
    </table>

    <div sec:authorize="!isAuthenticated()" class="mt-1">
        <span>Login</span>
        <a href="/login">here</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')" class="mt-1">
        <div>
            <a href="/book/add">Add a Book</a>
        </div>
    </div>

    <button sec:authorize="isAuthenticated()" class="mt-1" type="button">
        <a style="text-decoration: none" th:href="@{/logout}">Logout</a>
    </button>
</div>

</body>
</html>