<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Register Page</title>
</head>
<body>
<h1>Register New Account</h1>
<form th:action="@{/}" action="#" method="post" onsubmit="return verify()">
    Email: <input type="email" name="username"><br>
    Password: <input type="password" name="password"><br>
    Verify Password: <input type="password" name="verifyPassword"><br>
    <label>
        <input type="checkbox" name="isAdmin"> Register as Admin
    </label><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
